@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*my code begins here*/
:root{
    --side-bar-color : #2596be;
    --header-color : #ffffff;
    --yellow : #f0b429;
    --grey : #e2e8f0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 2fr 9fr;
    grid-template-rows: 180px 1fr;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 60px 250px 6fr;
    gap: 40px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: var(--side-bar-color);
    color: var(--header-color);
}
.sidebar-top{
    grid-row: 1/2;
}
.sidebar-mid{
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-bottom{
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-mid-item,.sidebar-bottom-item ,.sidebar-top{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header{
    grid-column: 2/3;
    grid-row: 1/2;
    max-height: 160px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 10px 40px 0px 20px;
}
.header-top{
    grid-row: 1/2;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.header-top>input{
    flex:1;
    max-height: 24px;
    background-color: var(--grey);
    outline: none;
    border-style: none;
    border-radius: 15px;
}
.top-name{
    font-weight: bold;
}
.icon{
    max-width: 24px;
    max-height: 24px;
}
.pad-icon{
    padding-left: 40px;
}
.header-bottom{
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 5fr 4fr;
    align-items: center;
    gap: 0px 20px;
    
}
.bottom-pfp{
    grid-row: 1/3;
    grid-column: 1/2;
}
.msg{
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: flex-end;
    font-size: small;
    font-weight: bold;
}
.user-name{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: x-large;
    font-weight: bold;
}
.btn-container{
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.header-btn{
    width: 80px;
    height: 30px;
    background-color: var(--side-bar-color);
    color: var(--header-color);
    border-radius: 15px;
    border-style: none;
}

.center{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--grey);
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 20px 40px 20px;
    gap: 20px;
}
.projects{
    grid-row: 1/-1;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 40px auto;
}
.project-header,.ann-header,.trend-header{
    font-weight: bold;
    font-size: medium;
}
.topic-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.topics{
    width: 250px;
    height: 200px;
    background-color: var(--header-color);
    border-left: 5px solid var(--yellow);
    border-radius:15px ;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.topic-heading{
    font-weight: bold;
    font-size: medium;
    
}
.topic-content{
    font-size: 12px;
    padding-right: 40px;
    text-align: justify;
    
}
.announcements{
    display: grid;
    grid-template-rows: 40px auto;
}
.trending{
    display: grid;
    grid-template-rows: 40px auto;
}
.ann-content{
    background-color: var(--header-color);
    border-radius:15px ;
    padding: 20px 0px 20px 20px;
}
.ann-content{
    font-size: 12px;
    padding-right: 40px;
    text-align: left;
}
.ann-item-header{
    font-weight: bold;
}
.ann-content{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}
.ann-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.trend-content{
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
.trend-user{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 0px;
}
.trend-user-pfp{
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
}
.trend-user-name{
    align-self: flex-end;
    font-weight: bold;
}
.trend-user-status{
    font-size: 12px;
}
.trend-content{
    background-color: var(--header-color);
    border-radius:15px ;
    padding: 20px 0px 20px 20px;
    font-size: 12px;
    text-align: left;
}

.bottom-pfp{
    max-width: 70px;
    max-height: 70px;
    border-radius: 80px;
}
.trend-user-pfp, .top-pfp{
    max-width: 50px;
    max-height: 50px;
    border-radius: 80px;
}

